.inputSectionMainClass input{
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black !important;
    padding: 5px;
    padding-bottom: 1px;

}

.inputSectionMainClass input::-webkit-outer-spin-button,
.inputSectionMainClass input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputSectionMainClass input{
  -moz-appearance: textfield; /* Firefox */
}

.inputSectionMainClass input:read-only{
  color: #059212;
}

