.inputSectionMainClass input{
    outline: none;
    border: none;
    width: 300px;
    background-color: transparent;
    border: 3px solid rgb(219, 43, 43) !important;
    border-radius: 10px;
    padding: 8px;
    background-color: #fff;
    padding-bottom: 1px;
    font-weight: 500;

}

.inputSectionMainClass input::-webkit-outer-spin-button,
.inputSectionMainClass input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputSectionMainClass input{
  -moz-appearance: textfield; /* Firefox */
}

.inputSectionMainClass input:read-only{
  border-color: #7ed485 !important;
  color: #000;
}

