.mainClass{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
}



.mainClass div{
    display: flex;
    flex-direction: column;
    row-gap: 5px;

}

.mainClass p{
    font-size: 8px;
}